name: Post Random JSON Data

on:
  schedule:
    - cron: '*/5 * * * *'
  
  workflow_dispatch:

jobs:
  post_json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate Random Data
        run: |
          # Generate random temp between 20-35
          TEMP=$((20 + RANDOM % 16))
          # Generate random humidity between 40-60
          HUMIDITY=$((40 + RANDOM % 21))
          
          # Create the JSON file
          echo "{ \"temperature\": $TEMP, \"humidity\": $HUMIDITY }" > stream.json
          
          # Optional: Print it to the logs so you can see it
          cat stream.json

      - name: Send JSON Data to First URL
        run: |
          curl -X POST "https://:edQ0LQWNTbmPpecNdQSatg@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:v_U7pMq4Sqyk4CxaT86PqQ/streams/AQAAAKfJQBfU6kI1pNx5JlgbYz8AAAAA" \
          -H "Content-Type: application/json" \
          -d @stream.json

      - name: Send JSON Data to Second URL
        run: |
          curl -X POST "https://:7j4NKSmuQ96pYXkQ4UcowA@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:v_U7pMq4Sqyk4CxaT86PqQ/streams/AQAAAAGxsQ52QE9fhPHCFiH4f0gAAAAA" \
          -H "Content-Type: application/json" \
          -d @stream.json
